.rightSideBar {
    background-color: #f9f9f9; 
    border-left: 1px solid #ddd;
    padding: 20px; 
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .rs_nav {
    text-align: center;
    padding-top: 50px;
    margin-bottom: 20px; 
  }
  
  .rs_nav img {
    width: 120px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #4caf50;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  }
  
  .rs_nav .status {
    width: 14px;
    height: 14px;
    background-color: #4caf50;
    border: 2px solid white;
    border-radius: 50%;
    position: absolute;
    bottom: 10px;
    right: 60px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  .rs_nav h3 {
    color: #333;
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  
  .rs_nav hr {
    border: none;
    border-top: 1px solid #ddd;
    margin: 20px 0;
  }
  
  .rightSideBar p {
    color: #666;
    font-size: 14px;
    margin: 10px 0;
    line-height: 1.5;
    cursor: pointer;
  }
  
  .rightSideBar p:first-of-type {
    font-weight: bold;
    color: #333;
    font-size: 16px;
    margin-top: 20px;
  }
  
  .deconnecte {
      display: flex;
      align-items: center;
      position: absolute;
      align-content: center;
      gap: 10px;
      bottom: 0;
      margin-bottom: 70px;
      cursor: pointer;
      transition: all 0.3s ease;
    }
    
    .deconnecte img {
      width: 28px;
      height: 28px;
      object-fit: contain;
    }
    
    .deconnecte p {
      margin: 0;
      font-size: 1.1rem;
      font-weight: 500;
      color: #4b5563;
      white-space: nowrap;
    }
    
  
    .deconnecte:hover p {
      color: #7c3aed; 
      transform: scale(1.05); 
      transition: all 0.2s ease;
    }